style.css
@charset "utf-8";
/* Group 277 */

position: absolute;
width: 1922.76px;
height: 9284.61px;



/* Group 274 */

position: absolute;
width: 1922.24px;
height: 4293.49px;



/* Group 272 */

position: absolute;
width: 1922.24px;
height: 4293.49px;



/* music page */

position: absolute;
width: 1920px;
height: 4292.89px;

background: url(music page.png);
/* Style */
filter: drop-shadow(-56px 0px 25px rgba(0, 0, 0, 0.09)) drop-shadow(52px 0px 26px rgba(0, 0, 0, 0.09));
transform: matrix(1, 0, 0, 1, 0, 0);


/* Rectangle 129 */

position: absolute;
width: 396.63px;
height: 151.1px;

background: #1C1B1B;


/* Rectangle 130 */

position: absolute;
width: 547.72px;
height: 387.18px;

background: #1C1B1B;


/* Rectangle 131 */

position: absolute;
width: 642.16px;
height: 266.78px;

background: #1C1B1B;


/* Rectangle 132 */

position: absolute;
width: 1425.96px;
height: 1817.87px;

background: #020802;


/* Frame 6 */

position: absolute;
width: 184px;
height: 139px;

background: #1C1B1B;


/* Organic Infographic Element 28 */

position: absolute;
width: 1442.61px;
height: 357.62px;



/* Group 169 */

position: absolute;
width: 357.22px;
height: 248.31px;



/* Group 167 */

position: absolute;
width: 138.54px;
height: 138.54px;



/* Ellipse 57 */

position: absolute;
width: 138.54px;
height: 138.54px;

background: #9954E2;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 51 */

position: absolute;
width: 99.42px;
height: 99.42px;

background: #FFFFFF;


/* Intersect */

position: absolute;
width: 357.22px;
height: 178.92px;

background: #9954E2;


/* Subtract */

position: absolute;
width: 268.57px;
height: 109.31px;

background: #FFFFFF;


/* Ellipse 61 */

position: absolute;
width: 13.92px;
height: 13.92px;

background: #FFFFFF;


/* Group 170 */

position: absolute;
width: 357.22px;
height: 248.31px;



/* Group 167 */

position: absolute;
width: 138.54px;
height: 138.54px;



/* Ellipse 57 */

position: absolute;
width: 138.54px;
height: 138.54px;

background: #42D7BC;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 51 */

position: absolute;
width: 99.42px;
height: 99.42px;

background: #FFFFFF;


/* Intersect */

position: absolute;
width: 357.22px;
height: 178.92px;

background: #42D7BC;


/* Subtract */

position: absolute;
width: 268.57px;
height: 109.31px;

background: #FFFFFF;


/* Ellipse 61 */

position: absolute;
width: 13.92px;
height: 13.92px;

background: #FFFFFF;


/* Group 172 */

position: absolute;
width: 357.22px;
height: 248.31px;



/* Group 167 */

position: absolute;
width: 138.54px;
height: 138.54px;



/* Ellipse 57 */

position: absolute;
width: 138.54px;
height: 138.54px;

background: #FBC203;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 51 */

position: absolute;
width: 99.42px;
height: 99.42px;

background: #FFFFFF;


/* Intersect */

position: absolute;
width: 357.22px;
height: 178.92px;

background: #FBC203;


/* Subtract */

position: absolute;
width: 268.57px;
height: 109.31px;

background: #FFFFFF;


/* Ellipse 61 */

position: absolute;
width: 13.92px;
height: 13.92px;

background: #FFFFFF;


/* Group 171 */

position: absolute;
width: 357.22px;
height: 248.31px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Group 167 */

position: absolute;
width: 138.54px;
height: 138.54px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 57 */

position: absolute;
width: 138.54px;
height: 138.54px;

background: #FD2F7B;
transform: rotate(-180deg);


/* Ellipse 51 */

position: absolute;
width: 99.42px;
height: 99.42px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Intersect */

position: absolute;
width: 357.22px;
height: 178.92px;

background: #FD2F7B;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Subtract */

position: absolute;
width: 268.57px;
height: 109.31px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 61 */

position: absolute;
width: 13.92px;
height: 13.92px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Group 173 */

position: absolute;
width: 357.22px;
height: 248.31px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Group 167 */

position: absolute;
width: 138.54px;
height: 138.54px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 57 */

position: absolute;
width: 138.54px;
height: 138.54px;

background: #36BBE4;
transform: rotate(-180deg);


/* Ellipse 51 */

position: absolute;
width: 99.42px;
height: 99.42px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Intersect */

position: absolute;
width: 357.22px;
height: 178.92px;

background: #36BBE4;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Subtract */

position: absolute;
width: 268.57px;
height: 109.31px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 61 */

position: absolute;
width: 13.92px;
height: 13.92px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Set Goal */

position: absolute;
width: 213px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;

color: #FFFFFF;



/* Use Bots */

position: absolute;
width: 213px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;

color: #FFFFFF;



/* Fake Accounts */

position: absolute;
width: 213px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;

color: #FFFFFF;



/* Manipulate Results */

position: absolute;
width: 243px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;

color: #FFFFFF;



/* Evade Detection */

position: absolute;
width: 213px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;

color: #FFFFFF;



/* PaintBrush */

position: absolute;
width: 64px;
height: 64px;



/* FileSearch */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 9.38%;
bottom: 9.38%;

background: #9954E2;


/* CursorClick */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 3.12%;
right: 12.5%;
top: 3.12%;
bottom: 12.5%;

background: #42D7BC;


/* RocketLaunch */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 9.37%;
right: 12.5%;
top: 12.5%;
bottom: 9.38%;

background: #36BBE4;


/* Wrench */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 9.37%;
right: 9.37%;
top: 9.38%;
bottom: 9.37%;

background: #FBC203;


/* Vector */

position: absolute;
width: 56px;
height: 50px;

background: #FD2F7B;


/* Group 271 */

position: absolute;
width: 826.46px;
height: 664px;



/* Group 267 */

position: absolute;
width: 774.15px;
height: 117.18px;



/* Infographic Element 54 */

position: absolute;
width: 774.15px;
height: 117.18px;



/* Rectangle 79 */

position: absolute;
width: 744.71px;
height: 116.7px;

background: #42D7BC;


/* Rectangle 81 */

position: absolute;
width: 344.71px;
height: 116.7px;

opacity: 0.5;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 7 */

position: absolute;
width: 84.08px;
height: 84.08px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #42D7BC;


/* Ellipse 11 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #42D7BC;


/* Group 271 */

position: absolute;
width: 774.15px;
height: 117px;



/* Infographic Elem2ent 54 */

position: absolute;
width: 774.15px;
height: 117px;



/* Rectangle 79 */

position: absolute;
width: 744.71px;
height: 116.7px;

background: #FBC203;


/* Rectangle 81 */

position: absolute;
width: 344.71px;
height: 116.7px;

opacity: 0.5;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 7 */

position: absolute;
width: 84.08px;
height: 84.08px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #42D7BC;


/* Ellipse 11 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #FBC203;


/* Group 268 */

position: absolute;
width: 774.15px;
height: 117.05px;



/* Infograph2ic Element 54 */

position: absolute;
width: 774.15px;
height: 117.05px;



/* Rectangle 79 */

position: absolute;
width: 744.71px;
height: 116.7px;

background: #9954E2;


/* Rectangle 81 */

position: absolute;
width: 344.71px;
height: 116.7px;

opacity: 0.5;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 7 */

position: absolute;
width: 84.08px;
height: 84.08px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #42D7BC;


/* Ellipse 11 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #9954E2;


/* Group 269 */

position: absolute;
width: 774.15px;
height: 116.88px;



/* Info2graphic Element 54 */

position: absolute;
width: 774.15px;
height: 116.88px;



/* Rectangle 79 */

position: absolute;
width: 744.71px;
height: 116.7px;

background: #FD2F7B;


/* Rectangle 81 */

position: absolute;
width: 344.71px;
height: 116.7px;

opacity: 0.5;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 7 */

position: absolute;
width: 84.08px;
height: 84.08px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #42D7BC;


/* Ellipse 11 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #FD2F7B;


/* Group 270 */

position: absolute;
width: 774.15px;
height: 116.7px;



/* 1Infographic Element 54 */

position: absolute;
width: 774.15px;
height: 116.7px;



/* Rectangle 79 */

position: absolute;
width: 744.71px;
height: 116.7px;

background: #36BBE4;


/* Rectangle 81 */

position: absolute;
width: 344.71px;
height: 116.7px;

opacity: 0.5;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 82 */

position: absolute;
width: 344.71px;
height: 116.7px;



/* Ellipse 9 */

position: absolute;
width: 84.08px;
height: 84.08px;

opacity: 0.3;


/* Ellipse 7 */

position: absolute;
width: 84.08px;
height: 84.08px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 71.58px;
height: 71.58px;

background: #36BBE4;


/* Ellipse 11 */

position: absolute;
width: 71.58px;
height: 71.58px;



/* Ellipse 88 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #36BBE4;


/* Ellipse 89 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #42D7BC;


/* Ellipse 113 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #FD2F7B;


/* Ellipse 96 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #42D7BC;


/* Ellipse 112 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #9954E2;


/* Ellipse 100 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #42D7BC;


/* Ellipse 114 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #42D7BC;


/* Ellipse 111 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #42D7BC;


/* Ellipse 115 */

position: absolute;
width: 20.65px;
height: 20.65px;

background: #FBC203;


/* Ellipse 93 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 97 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 101 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 108 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 94 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 98 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 102 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 109 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 95 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 99 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 104 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 107 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 105 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 106 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 116 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 103 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Ellipse 110 */

position: absolute;
width: 10.48px;
height: 10.48px;

background: #424856;


/* Loss of Chart Credibility */

position: absolute;
width: 615px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Deprivation of Opportunities for Talented Artists */

position: absolute;
width: 615px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Distorted Consumer Judgments */

position: absolute;
width: 615px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Damage to the Music Industry’s Reputation */

position: absolute;
width: 615px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Intensification of Unfair Competition */

position: absolute;
width: 615px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;



/* FileSearch */

position: absolute;
width: 48px;
height: 48px;



/* Music chart manipulation severely undermines the credibility of music charts. These charts are intended to reflect public preferences and serve as key indicators for the music industry. However, when artificial results dominate the charts, they lose their original purpose. This misleads consumers into purchasing or streaming certain songs based on fabricated popularity, ultimately infringing on their freedom of choice. */

position: absolute;
width: 572px;
height: 322.76px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24.8273px;
line-height: 36px;
/* or 147% */

color: #5F5F5F;



/* Negative Impacts of Music Chart Manipulation */

position: absolute;
width: 694px;
height: 217px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 64.822px;
line-height: 94px;

color: #FFFFFF;



/* Group 275 */

position: absolute;
width: 1920.76px;
height: 1434.67px;



/* sign in 1 */

position: absolute;
width: 1920px;
height: 1434.07px;

background: url(resigster or sign up.png);
filter: drop-shadow(-56px 0px 25px rgba(0, 0, 0, 0.04)) drop-shadow(52px 0px 26px rgba(0, 0, 0, 0.04));
transform: matrix(1, 0, 0, 1, 0, 0);


/* Frame 7 */

position: absolute;
width: 1600px;
height: 604px;

background: #1C1B1B;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 1600px;
height: 598px;
left: 0px;
top: 6px;

background: #4B4B4B;
border-radius: 23px;


/* Group 276 */

width: 1388px;
height: 494px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Chart Manipulation Controversy – Fraud or Marketing Strategy? Chart manipulation refers to the illegal practice of artificially boosting a song’s position on music charts. This often involves record labels or agencies repeatedly streaming or purchasing songs to create the illusion of popularity. Such practices undermine the credibility of music charts and mislead the public into believing that certain songs are widely popular. On the other hand, some argue that these actions can be seen as a form of aggressive viral marketing. Ultimately, this controversy raises concerns about fairness in the music industry and erodes fans' trust. */

position: absolute;
width: 1388px;
height: 494px;
left: 106px;
top: 52px;

font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
text-align: center;

color: #FFFFFF;



/* Frame 8 */

position: absolute;
width: 910px;
height: 532px;

background: #1C1B1B;


/* music chart manipulation */

position: absolute;
width: 814px;
height: 340px;
left: 0px;
top: 96px;

font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 137px;

color: #FFFFFF;



/* Frame 9 */

position: absolute;
width: 1506px;
height: 188px;

background: #020802;


/* "Manipulated music” */

position: absolute;
width: 822px;
height: 244px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 116px;
text-align: center;

color: #FFFFFF;



/* who */

position: absolute;
width: 822px;
height: 244px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 116px;
text-align: center;

color: #FFFFFF;



/* content */

position: absolute;
width: 292px;
height: 108px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 64.822px;
line-height: 94px;

color: #FFFFFF;



/* Group 273 */

position: absolute;
width: 1920px;
height: 4116.61px;



/* artics page-1 */

position: absolute;
width: 1917.85px;
height: 4116.01px;

background: url(artics page-1.png);
transform: matrix(1, 0, 0, 1, 0, 0);


/* Rectangle 133 */

position: absolute;
width: 1736.09px;
height: 2180.31px;

background: #1C1B1B;


/* Rectangle 134 */

position: absolute;
width: 308.23px;
height: 140.52px;

background: #2C2B2B;


/* Rectangle 135 */

position: absolute;
width: 308.23px;
height: 140.52px;

background: #2C2B2B;


/* Rectangle 136 */

position: absolute;
width: 641.4px;
height: 140.52px;

background: #2C2B2B;


/* Rectangle 137 */

position: absolute;
width: 788.72px;
height: 140.52px;

background: #2C2B2B;


/* Ellipse 117 */

position: absolute;
width: 494.08px;
height: 475.95px;

background: url(73535584-남자-사용자-아이콘-사람-프로필-아바타-글리프-벡터-일러스트.jpg);


/* PaintBrush */

position: absolute;
width: 48px;
height: 48px;



/* CursorClick */

position: absolute;
width: 48px;
height: 48px;



/* RocketLaunch */

position: absolute;
width: 48px;
height: 48px;



/* flow of Music Chart Manipulation in 5 Steps */

position: absolute;
width: 1269px;
height: 144px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 61.4188px;
line-height: 89px;

color: #FFFFFF;



/* The aim is to artificially boost the chart ranking of a specific song. */

position: absolute;
width: 322.91px;
height: 102.03px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 14.7254px;
line-height: 25px;
/* or 171% */

color: #5F5F5F;



/* Streaming bots or clickbots are employed to inflate streaming counts */

position: absolute;
width: 322.91px;
height: 102.03px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 14.7254px;
line-height: 25px;
/* or 171% */

color: #5F5F5F;



/* Numerous fake accounts are created for streaming purposes. */

position: absolute;
width: 322.91px;
height: 152.51px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 14.7254px;
line-height: 25px;
/* or 171% */

color: #5F5F5F;



/* Techniques like IP masking are used to avoid platform detection. */

position: absolute;
width: 322.91px;
height: 102.03px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 14.7254px;
line-height: 25px;
/* or 171% */

color: #5F5F5F;



/* Achieving high chart positions to gain public trust and recognition as a popular song. */

position: absolute;
width: 322.91px;
height: 203px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 14.7254px;
line-height: 25px;
/* or 171% */

color: #5F5F5F;



/* Goal Setting */

position: absolute;
width: 307px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Bot Usage */

position: absolute;
width: 307px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Fake Accounts */

position: absolute;
width: 307px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Platform Evasion */

position: absolute;
width: 307px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Result Manipulation */

position: absolute;
width: 307px;
height: 32px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Organic Infographic Element 40 */

position: absolute;
width: 344.71px;
height: 233.18px;



/* Rectangle 128 */

position: absolute;
width: 241.97px;
height: 112.04px;

background: #36BBE4;


/* Polygon 1 */

position: absolute;
width: 206.81px;
height: 233.18px;

background: #36BBE4;
border-radius: 43.6989px;


/* Polygon 2 */

position: absolute;
width: 193.86px;
height: 218.73px;

background: #FFFFFF;


/* Ellipse 51 */

position: absolute;
width: 110.18px;
height: 109.94px;

background: #36BBE4;
border-radius: 43.6989px;


/* FileSearch */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 9.38%;
bottom: 9.38%;

background: #FBFBFB;


/* Organic Infographic Element 41 */

position: absolute;
width: 344.71px;
height: 233.18px;



/* Rectangle 128 */

position: absolute;
width: 241.97px;
height: 112.04px;

background: #FD2F7B;


/* Polygon 1 */

position: absolute;
width: 206.81px;
height: 233.18px;

background: #FD2F7B;
border-radius: 43.6989px;


/* Polygon 2 */

position: absolute;
width: 193.86px;
height: 218.73px;

background: #FFFFFF;


/* Ellipse 51 */

position: absolute;
width: 110.18px;
height: 109.94px;

background: #FD2F7B;
border-radius: 43.6989px;


/* PaintBrush */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 3.13%;
right: 9.38%;
top: 9.38%;
bottom: 12.5%;

background: #FBFBFB;


/* Organic Infographic Element 42 */

position: absolute;
width: 344.71px;
height: 233.18px;



/* Rectangle 128 */

position: absolute;
width: 241.97px;
height: 112.04px;

background: #9954E2;


/* Polygon 1 */

position: absolute;
width: 206.81px;
height: 233.18px;

background: #9954E2;
border-radius: 43.6989px;


/* Polygon 2 */

position: absolute;
width: 193.86px;
height: 218.73px;

background: #FFFFFF;


/* Ellipse 51 */

position: absolute;
width: 110.18px;
height: 109.94px;

background: #9954E2;
border-radius: 43.6989px;


/* CursorClick */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 3.12%;
right: 12.5%;
top: 3.12%;
bottom: 12.5%;

background: #FBFBFB;


/* Organic Infographic Element 43 */

position: absolute;
width: 344.71px;
height: 233.18px;



/* Rectangle 128 */

position: absolute;
width: 241.97px;
height: 112.04px;

background: #FD2F7B;


/* Polygon 1 */

position: absolute;
width: 206.81px;
height: 233.18px;

background: #FD2F7B;
border-radius: 43.6989px;


/* Polygon 2 */

position: absolute;
width: 193.86px;
height: 218.73px;

background: #FFFFFF;


/* Ellipse 51 */

position: absolute;
width: 110.18px;
height: 109.94px;

background: #FD2F7B;
border-radius: 43.6989px;


/* RocketLaunch */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 9.37%;
right: 12.5%;
top: 12.5%;
bottom: 9.37%;

background: #FBFBFB;


/* Organic Infographic Element 44 */

position: absolute;
width: 344.71px;
height: 233.18px;



/* Rectangle 128 */

position: absolute;
width: 241.97px;
height: 112.04px;

background: #36BBE4;


/* Polygon 1 */

position: absolute;
width: 206.81px;
height: 233.18px;

background: #36BBE4;
border-radius: 43.6989px;


/* Polygon 2 */

position: absolute;
width: 193.86px;
height: 218.73px;

background: #FFFFFF;


/* Ellipse 51 */

position: absolute;
width: 110.18px;
height: 109.94px;

background: #36BBE4;
border-radius: 43.6989px;


/* Wrench */

position: absolute;
width: 64px;
height: 64px;



/* Vector */

position: absolute;
left: 9.37%;
right: 9.37%;
top: 9.38%;
bottom: 9.37%;

background: #FBFBFB;


/* Positive Impacts of Music Chart Manipulation */

position: absolute;
width: 653px;
height: 294px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 116px;

color: #FFFFFF;



/* Moreover, talented and creative artists are denied fair recognition, preventing newcomers from gaining the opportunities they deserve. This stifles diversity and innovation within the industry, potentially leading to a decline in the overall quality of music. Chart manipulation also tarnishes the reputation of the music industry, creating a negative perception among companies and investors. Over time, this loss of trust can result in reduced investments and destabilize the market. . */

position: absolute;
width: 595px;
height: 373.97px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 33.4897px;
line-height: 27px;
/* or 80% */

color: #5F5F5F;



/* Infographic Element 17 */

position: absolute;
width: 854.23px;
height: 902px;



/* Rectangle 96 */

position: absolute;
width: 791.74px;
height: 203.35px;

background: #FD2F7B;


/* Rectangle 97 */

position: absolute;
width: 724.15px;
height: 203.35px;

background: #9954E2;


/* Rectangle 98 */

position: absolute;
width: 639.93px;
height: 203.35px;

background: #36BBE4;


/* Rectangle 99 */

position: absolute;
width: 568.88px;
height: 203.35px;

background: #42D7BC;


/* Group 86 */

position: absolute;
width: 62.49px;
height: 292.68px;



/* Rectangle 94 */

position: absolute;
width: 62.49px;
height: 292.68px;

background: #CC004B;


/* Group 87 */

position: absolute;
width: 62.49px;
height: 292.68px;



/* Rectangle 94 */

position: absolute;
width: 62.49px;
height: 292.68px;

background: #7435B7;


/* Group 88 */

position: absolute;
width: 62.49px;
height: 292.68px;



/* Rectangle 94 */

position: absolute;
width: 62.49px;
height: 292.68px;

background: #0F8DB4;


/* Group 89 */

position: absolute;
width: 62.49px;
height: 292.68px;



/* Rectangle 94 */

position: absolute;
width: 62.49px;
height: 292.68px;

background: #24A48D;


/* Increased Revenue for Artists and Agencies */

position: absolute;
width: 664px;
height: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Stimulated Competition in the Market */

position: absolute;
width: 570.59px;
height: 81.32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Short-Term Visibility Boost */

position: absolute;
width: 534.31px;
height: 81.32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Enhanced Marketing Impact */

position: absolute;
width: 500.5px;
height: 81.32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #FFFFFF;



/* singer */

position: absolute;
width: 353px;
height: 107px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 64.822px;
line-height: 94px;
text-align: center;

color: #FFFFFF;



/* ? */

position: absolute;
width: 353px;
height: 107px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 64.822px;
line-height: 94px;
text-align: center;

color: #FFFFFF;



/* ! */

position: absolute;
width: 353px;
height: 107px;

font-family: 'Bagel Fat One';
font-style: normal;
font-weight: 400;
font-size: 64.822px;
line-height: 94px;
text-align: center;

color: #FFFFFF;

